body {
  width: 80%; /* 600px */
  margin: 0 auto;
}

.span-1,
.span-2,
.span-3 {
  min-height: 100px;
  float:left;
  width: 96.66666%;
  margin-right: 3.33333%;
}

.span-1 {
  background-color: mistyrose;
  /*width: 30%; /* width =180px; 180px / 600px = 0.3 */*/
}

.span-2 {
  background-color: linen;
  /*width: 63.33333%; /* width = 380px; 380px / 600px = 0.633333 */*/
}

.span-3 {
  background-color: plum;
  /*width: 96.66666%; /* width = 580px; 580px / 600px = 0.966666666 */*/
}

img {
  max-width: 100%;
}

@media (max-width: 500px) {
  body{
    background-color: pink;
    width: 80%;
  }
  .span-2{
  width: 63.33333%;
  }
  .span-1 {
    width: 30%;
  }

  nav ul  {
    list-style: none;
    text-align: center;
    margin-right: 3.33333%;
  }

  nav li {
    display: inline!important;
    background-color: black;
    width:100%;
  }

  nav a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    display:block;
  }
}
@media (min-width: 1000px) {
  body {
    background-color: tomato;
  }
}

nav ul  {
  list-style: none;
  text-align: center;
  margin-right: 3.33333%;
  padding:0;
}

nav li {
  display: inline-block;
  background-color: black;
  width: 30%;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
