<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="output"></div>
  <script>
    $.ajax({
      url: 'https://api.github.com/users/lfonz9364',
      method: 'get',
      dataType: 'JSON'
    }).done(createData);

    function createData(data) {
      $('<p>').text(data.name).appendTo('.output');
      Object.keys(data).forEach(function(key){
        $('<p>').text(key + ":" + data[key]).appendTo('.output');
      })
      console.log(data);
    }
  </script>
</body>
</html>
